.card-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-container-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column,
.right-column {
    flex: 1;
    width: 40%;
}

.left-column {
    margin-right: 40px;
}

.input-group label {
    font-size: 1.1em;
    margin-bottom: 8px;
    display: block;
    font-weight: 500;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="checkbox"] + label {
    width: 92%;
    padding: 12px 15px;
    border: 2px solid #e1e1e1;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1em;
    transition: border-color 0.2s ease-in-out;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.input-group input[type="checkbox"] + label {
    margin-left: 5px;
}

.terms-acceptance {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
}

.terms-acceptance label {
    margin-left: 10px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group--cardholder input {
    margin-bottom: 0;
}

.cvv-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
    padding: 8px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-35%);
}
.cvv-icon:hover {
    background-color: #d0d0d0;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    display: block;
}

.underline-dotted {
    border-bottom: 1px dotted;
    cursor: pointer;
}
